:root {
  --background: rgb(34, 40, 49);
  --element-highlight: rgb(57, 62, 70);
  --text-highlight: rgb(255, 211, 105);
  --text-lighter: rgb(238, 238, 238);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--text-lighter);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
}

.column {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
  padding: 2rem;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.internal-column {
  width: 100%;
}

.left {
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  padding-right: 2rem;
}

.right {
  -webkit-flex: 0;
  flex: 1 0 fill;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.selected {
  color: var(--text-highlight);
}

li:hover {
  cursor: pointer;
  color: var(--text-highlight);
}
